@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF6600;
  --primary-light:#ff7a22;
  --primary-dark:#dd5800;
  --secondary: #8FD14F;
  --secondary-light:#8fd150;
  --secondary-dark:#6daf2e;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
